<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6210.0" authCookieName=".SFAUTH-DevMagazineCert" rolesCookieName=".SFROLES-DevMagazineCert" validationKey="458B0C64969F5840691356027493CA260490921CD42C58DD76F4EBCF473A539BD31F5802C4DE8E483AF31D19ABAF786B291949537426CC4E7B11A37695C5FE92" decryptionKey="7FBBAE8971AC6B0FA7243FBC289B26E303D116346441F63968C09D149D513D90" loggingCookieName=".SFLOG-DevMagazineCert">
	<securityTokenIssuers>
		<add key="D907DB1041A414EBE2DCA01BDB12E17E09234F595195E3AADAC5ACB3B3B3CA98" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="D907DB1041A414EBE2DCA01BDB12E17E09234F595195E3AADAC5ACB3B3B3CA98" realm="http://localhost" />
	</relyingParties>
	<applicationRoles>
		<role id="529bc3e1-510e-4f20-b0ca-0261add235c7" name="Everyone" config:flags="1" />
		<role id="e751f722-80ae-401d-aec7-5224eac539ad" name="Anonymous" config:flags="1" />
		<role id="f88ccdea-d5ed-4cd2-9635-291a05467c97" name="Authenticated" config:flags="1" />
		<role id="cf2ac086-a981-4ac7-a760-a05405fd088e" name="Owner" config:flags="1" />
		<role id="9472989a-66a5-493a-a761-6169bab4de36" name="Administrators" config:flags="1" />
		<role id="ea5bc9ca-9d11-4a4b-97b7-f41cdcdb1839" name="BackendUsers" config:flags="1" />
		<role id="9425b59a-8b78-4cad-a5e3-c8d7a1632474" name="Authors" config:flags="1" />
		<role id="8b4c316b-d0f4-4588-ba4b-689e36545412" name="Editors" config:flags="1" />
		<role id="5ea595a1-2ab8-41cb-82d1-0a363e4850a6" name="Designers" config:flags="1" />
		<role id="25502560-7347-4e9d-a150-f3fe48ae67e3" name="Users" config:flags="1" />
	</applicationRoles>
</securityConfig>