<?xml version="1.0" encoding="utf-8"?>
<diagnosticsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6211.0">
	<tools>
		<add version="9.2.6211.0" dependsOnRootOperation="True" name="DataAccessProfiler" config:flags="1" />
		<add version="9.2.6211.0" logBackend="False" logFrontend="True" name="HttpRequestProfiler" config:flags="1" />
		<add version="9.2.6211.0" skipSelectedTaskTypes="" name="BackgroundTasksProfiler" config:flags="1" />
		<add version="9.2.6211.0" logBackend="False" logFrontend="True" dependsOnRootOperation="True" name="CompilationsProfiler" config:flags="1" />
		<add version="9.2.6211.0" name="SuggestionEngine" config:flags="1" />
	</tools>
</diagnosticsConfig>