<?xml version="1.0" encoding="utf-8"?>
<dynamicModulesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6211.0" config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;Authors\&quot;,\&quot;Path\&quot;:\&quot;Dynamic modules\\\\Authors\&quot;}&quot;}]">
	<providers config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;Authors\&quot;,\&quot;Path\&quot;:\&quot;Dynamic modules\\\\Authors\&quot;}&quot;}]">
		<add title="DevMagazine Authors" applicationName="dynamicProvider2" moduleName="Authors" type="Telerik.Sitefinity.DynamicModules.Data.OpenAccessDynamicModuleProvider, Telerik.Sitefinity" name="dynamicProvider2" />
	</providers>
	<contentViewControls config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;Authors\&quot;,\&quot;Path\&quot;:\&quot;Dynamic modules\\\\Authors\&quot;}&quot;}]">
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.Authors.AuthorBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="AuthorBackendList" configFile="DynamicModulesConfig.Authors.Author1324765651_AthrBckndLst.config" />
				<config:lazy key="AuthorBackendInsertView" configFile="DynamicModulesConfig.Authors.Author1324765651_BckndInsrtVw.config" />
				<config:lazy key="AuthorBackendEditView" configFile="DynamicModulesConfig.Authors.Author1324765651_hrBckndEdtVw.config" />
				<config:lazy key="AuthorBackendDuplicateView" configFile="DynamicModulesConfig.Authors.Author1324765651_BckndDplctVw.config" />
			</views>
		</contentViewControl>
	</contentViewControls>
</dynamicModulesConfig>