<?xml version="1.0" encoding="utf-8"?>
<projectConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6211.0" projectName="DevMagazine" dateCreated="2016-09-12 15:28:52Z">
	<defaultSite id="17ea5ce4-3c03-4c01-aa4a-0deb71e691ef" name="Default" siteMapRootNodeId="f669d9a7-009d-4d83-ddaa-000000000002" />
</projectConfig>