<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6211.0" authCookieName=".SFAUTH-DevMagazine" rolesCookieName=".SFROLES-DevMagazine" validationKey="546D40AF16904E7B3411E6AE4EC2964C59EEF9A48C9C7F7CFEA2858DA61FC94CAF9F04108F8DE4993026FFC7179F3BE42C764B33E303E9065D46BA0626DE3E77" decryptionKey="367356AD43BB915D64A6B1918DE4340E580FB94B7A023BDC8DC239A2886108BE" loggingCookieName=".SFLOG-DevMagazine">
	<securityTokenIssuers>
		<add key="4A88DF3EBD605C9C2C74DB38095A9FE3F7EE8FAEBEE9D342A2CCA96CA9883CCB" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="4A88DF3EBD605C9C2C74DB38095A9FE3F7EE8FAEBEE9D342A2CCA96CA9883CCB" realm="http://localhost" />
	</relyingParties>
	<permissions>
		<config:link name="Blog" path="blogsConfig/permissions/Blog" module="Blogs" />
		<config:link name="BlogPost" path="blogsConfig/permissions/BlogPost" module="Blogs" />
		<config:link name="List" path="listsConfig/permissions/List" module="Lists" />
		<config:link name="ListItem" path="listsConfig/permissions/ListItem" module="Lists" />
		<permission title="Dynamic field permissions" description="Represents the permissions for dynamic fields." name="DynamicFields">
			<actions>
				<add title="View {0}" description="Allows or denies viewing a dynamic field." type="View" name="View" />
				<add title="Modify {0}" description="Allows or denies changes to existing dynamic field." type="Modify" name="Modify" />
				<add title="Change a {0} permissions" description="Allows or denies changing the permissions of a dynamic field." type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="ForumGroupPermissions" description="ForumPermissionsDescription" resourceClassId="ForumsResources" name="ForumGroup">
			<actions>
				<add title="CreateForumGroupAction" description="CreateForumGroupActionDescription" resourceClassId="ForumsResources" type="Create" name="CreateGroup" />
				<add title="ModifyForumGroupAction" description="ModifyForumGroupActionDescription" resourceClassId="ForumsResources" type="Modify" name="ModifyGroup" />
				<add title="DeleteForumGroupAction" description="DeleteForumGroupActionDescription" resourceClassId="ForumsResources" type="Delete" name="DeleteGroup" />
				<add title="ChangeGroupPermissionsAction" description="ChangeGroupPermissionsActionDescription" resourceClassId="ForumsResources" type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="ForumPermissions" description="ForumPermissionsDescription" resourceClassId="ForumsResources" name="Forum">
			<actions>
				<add title="ViewForumAction" description="ViewForumActionDescription" resourceClassId="ForumsResources" type="View" name="ViewForum" />
				<add title="CreateForumAction" description="CreateForumActionDescription" resourceClassId="ForumsResources" type="Create" name="CreateForum" />
				<add title="ModifyForumAction" description="ModifyForumActionDescription" resourceClassId="ForumsResources" type="Modify" name="ModifyForum" />
				<add title="DeleteForumAction" description="DeleteForumActionDescription" resourceClassId="ForumsResources" type="Delete" name="DeleteForum" />
				<add title="CreateThreadAction" description="CreateThreadActionDescription" resourceClassId="ForumsResources" type="Create" name="CreateThread" />
				<add title="ModifyThreadAction" description="ModifyThreadActionDescription" resourceClassId="ForumsResources" type="Modify" name="ModifyThread" />
				<add title="ManageThreadAction" description="ManageThreadActionDescription" resourceClassId="ForumsResources" type="Modify" name="ManageThread" />
				<add title="DeleteThreadAction" description="DeleteThreadActionDescription" resourceClassId="ForumsResources" type="Delete" name="DeleteThread" />
				<add title="CreatePostAction" description="CreatePostActionDescription" resourceClassId="ForumsResources" type="Create" name="CreatePost" />
				<add title="ModifyPostAction" description="ModifyPostActionDescription" resourceClassId="ForumsResources" type="Modify" name="ModifyPost" />
				<add title="DeletePostAction" description="DeletePostActionDescription" resourceClassId="ForumsResources" type="Delete" name="DeletePost" />
				<add title="ChangeForumPermissionsAction" description="ChangeForumPermissionsActionDescription" resourceClassId="ForumsResources" type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<config:link name="Translations" path="translationsConfig/permissions/Translations" module="Translations" />
	</permissions>
	<customPermissionsDisplaySettings>
		<customSet setName="General" config:flags="1">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.News.Model.NewsItem, Telerik.Sitefinity.ContentModules" path="newsConfig/customPermissionsDisplaySettings/General/securedObjectCustomPermissionSets/Telerik.Sitefinity.News.Model.NewsItem, Telerik.Sitefinity.ContentModules" module="News" />
				<config:link typeName="Telerik.Sitefinity.Blogs.Model.Blog" path="blogsConfig/customPermissionsDisplaySettings/General/securedObjectCustomPermissionSets/Telerik.Sitefinity.Blogs.Model.Blog" module="Blogs" />
				<config:link typeName="Telerik.Sitefinity.Events.Model.Event" path="eventsConfig/customPermissionsDisplaySettings/General/securedObjectCustomPermissionSets/Telerik.Sitefinity.Events.Model.Event" module="Events" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="Blog">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.Blogs.Model.Blog" path="blogsConfig/customPermissionsDisplaySettings/Blog/securedObjectCustomPermissionSets/Telerik.Sitefinity.Blogs.Model.Blog" module="Blogs" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="BlogPost">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.Blogs.Model.Blog" path="blogsConfig/customPermissionsDisplaySettings/BlogPost/securedObjectCustomPermissionSets/Telerik.Sitefinity.Blogs.Model.Blog" module="Blogs" />
				<config:link typeName="Telerik.Sitefinity.Blogs.Model.BlogPost" path="blogsConfig/customPermissionsDisplaySettings/BlogPost/securedObjectCustomPermissionSets/Telerik.Sitefinity.Blogs.Model.BlogPost" module="Blogs" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="List">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.Lists.Model.List" path="listsConfig/customPermissionsDisplaySettings/List/securedObjectCustomPermissionSets/Telerik.Sitefinity.Lists.Model.List" module="Lists" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="ListItem">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.Lists.Model.List" path="listsConfig/customPermissionsDisplaySettings/ListItem/securedObjectCustomPermissionSets/Telerik.Sitefinity.Lists.Model.List" module="Lists" />
				<config:link typeName="Telerik.Sitefinity.Lists.Model.ListItem" path="listsConfig/customPermissionsDisplaySettings/ListItem/securedObjectCustomPermissionSets/Telerik.Sitefinity.Lists.Model.ListItem" module="Lists" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="ForumGroup">
			<securedObjectCustomPermissionSets>
				<securedObjectType typeName="Telerik.Sitefinity.Forums.Model.ForumGroup">
					<customSecurityActions>
						<customSecurityAction name="CreateGroup" />
						<customSecurityAction showActionInList="True" title="ModifyThisGroupAction" resourceClassId="ForumsResources" name="ModifyGroup" />
						<customSecurityAction showActionInList="True" title="DeleteThisGroupAction" resourceClassId="ForumsResources" name="DeleteGroup" />
						<customSecurityAction showActionInList="True" title="ChangeThisGroupPermissionsAction" resourceClassId="ForumsResources" name="ChangePermissions" />
					</customSecurityActions>
				</securedObjectType>
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="Forum">
			<securedObjectCustomPermissionSets>
				<securedObjectType typeName="Telerik.Sitefinity.Forums.Model.Forum">
					<customSecurityActions>
						<customSecurityAction name="CreateForum" />
						<customSecurityAction showActionInList="True" title="ViewThisForumAction" resourceClassId="ForumsResources" name="ViewForum" />
						<customSecurityAction showActionInList="True" title="ModifyThisForumAction" resourceClassId="ForumsResources" name="ModifyForum" />
						<customSecurityAction showActionInList="True" title="DeleteThisForumAction" resourceClassId="ForumsResources" name="DeleteForum" />
						<customSecurityAction showActionInList="True" title="ChangeThisForumPermissionsAction" resourceClassId="ForumsResources" name="ChangePermissions" />
					</customSecurityActions>
				</securedObjectType>
			</securedObjectCustomPermissionSets>
		</customSet>
	</customPermissionsDisplaySettings>
	<applicationRoles>
		<role id="82167f5c-a5b5-4216-bfe5-791c4e145fad" name="Everyone" config:flags="1" />
		<role id="d2885d72-3c52-47b2-8060-22d8caa6b961" name="Anonymous" config:flags="1" />
		<role id="60ea9b60-4285-408b-ab3c-38dd318c0865" name="Authenticated" config:flags="1" />
		<role id="3f6934ef-de8b-459e-bbfb-62d24a5759a9" name="Owner" config:flags="1" />
		<role id="ee5fce3d-58dc-4d77-b5b0-69a8bf80f1fd" name="Administrators" config:flags="1" />
		<role id="d88a0c69-bf5b-4229-a66c-fec55fce4ee6" name="BackendUsers" config:flags="1" />
		<role id="aff82f52-017e-4bd8-b5ee-9212652ab2e3" name="Authors" config:flags="1" />
		<role id="dc8f3ca7-adcd-4c0b-a7c7-6e5bd7b01efa" name="Editors" config:flags="1" />
		<role id="fd000c8e-541a-4d64-b714-5b8a6b0f983c" name="Designers" config:flags="1" />
		<role id="2d19a4ce-8a1b-4fa9-952b-eab5287a609c" name="Users" config:flags="1" />
	</applicationRoles>
	<membershipProviders>
		<add title="StaticMembershipProvider" description="StaticMembershipProvider" type="SitefinityWebApp.Providers.StaticMembershipProvider" name="StaticMembershipProvider" />
	</membershipProviders>
</securityConfig>