<?xml version="1.0" encoding="utf-8"?>
<workflowConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6211.0" config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;Authors\&quot;,\&quot;Path\&quot;:\&quot;Libraries\&quot;}&quot;}]">
	<workflowsTypes config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;Authors\&quot;,\&quot;Path\&quot;:\&quot;Libraries\&quot;}&quot;}]">
		<add title="NewsTitle" resourceClassId="NewsResources" moduleName="News" contentType="Telerik.Sitefinity.News.Model.NewsItem" />
		<add title="BlogsTitle" resourceClassId="BlogResources" moduleName="Blogs" contentType="Telerik.Sitefinity.Blogs.Model.BlogPost" />
		<add title="ModuleTitle" resourceClassId="EventsResources" moduleName="Events" contentType="Telerik.Sitefinity.Events.Model.Event" />
		<add title="Lists" resourceClassId="ListsResources" moduleName="Lists" contentType="Telerik.Sitefinity.Lists.Model.ListItem" />
		<add title="General product &lt;i&gt;(Ecommerce)&lt;/i&gt;" moduleName="Ecommerce" contentType="Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_generalproduct" />
		<add title="Book &lt;i&gt;(Ecommerce)&lt;/i&gt;" moduleName="Ecommerce" contentType="Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_book" />
		<add title="Song &lt;i&gt;(Ecommerce)&lt;/i&gt;" moduleName="Ecommerce" contentType="Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_song" />
		<add title="Software &lt;i&gt;(Ecommerce)&lt;/i&gt;" moduleName="Ecommerce" contentType="Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_software" />
		<add title="Author" moduleName="Authors" contentType="Telerik.Sitefinity.DynamicTypes.Model.Authors.Author" config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;Authors\&quot;,\&quot;Path\&quot;:\&quot;Dynamic modules\\\\Authors\&quot;}&quot;}]" />
		<add title="Webinar" moduleName="Webinars" contentType="Telerik.Sitefinity.DynamicTypes.Model.Webinars.Webinar" />
	</workflowsTypes>
</workflowConfig>