@*<sf-list-selector sf-dynamic-items-selector 
                  sf-item-type="properties.ItemType.PropertyValue" 
                  sf-master="true" 
                  sf-selected-item-id="properties.sample.PropetyValue" />*@

@*<sf-list-selector sf-dynamic-items-selector
                  sf-item-type="properties.ItemType.PropertyValue" 
                  sf-master="true" 
                  sf-selected-item="SelectedItem" 
                  sf-selected-item-id="properties.sample.PropetyValue" />*@

<sf-list-selector sf-dynamic-items-selector
                  sf-item-type="properties.ItemType.PropertyValue"
                  sf-master="true"
                  sf-selected-item="properties.SelectedItem.PropertyValue" />

@*<p>
    <label>Title</label>
    <input ng-model="properties.Title.PropertyValue" type="text" />
</p>
<p>
    <label>Description</label>
    <input ng-model="properties.description.PropertyValue" type="text" />

</p>
<p>
    <label>StartTime</label>
    <input ng-model="properties.StartTime.PropertyValue" type="datetime" />

</p>
<p>
    <label>EndTime</label>
    <input ng-model="properties.EndTime.PropertyValue" type="datetime" />
</p>*@


